body{
  font-family: Montserrat;
  text-align: center;

}
h1, h2, h3, h4, h5, h6{
  font-family: Montserrat SemiBold;
}


/* Navbar */


.nav-link{
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: lighter;
}
.navbar{
padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-size: 2.5rem;
  padding-left: 0;
  font-family: Ubuntu;
}


/* Title */


#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
.section-heading{
  line-height: 1.5;
  font-size: 3rem;
}
.heading{
  font-family: Montserrat Black;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
.iphone-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.btn{
  margin: 1rem 1rem;
  font-family: Montserrat;
  font-weight: bold;
  margin-bottom: 30px;
}
.container-fluid{
  padding: 3% 15% 8%;
}


/* Feature */

#features{
  background-color: #fff;
  position: relative;
}
.feature-heading{
  font-family: Montserrat Black;
  font-size: 1.5rem;
  padding: 15px 0 5px;
}
.feature-para{
  color: #8f8f8f;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.feature-row{
  padding: 110px 20px 110px;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.icon-color:hover{
  color: #ff4c68;
}
.icon-color{
  color: #ef8172;
}

/* Testimonials */

#testimonials{

  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;

  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Pricing */

#pricing{
  padding: 100px;

}
.card-heading{
  font-family: Montserrat Black;
  font-size: 1.5rem;
  padding: 15px 0 5px;
}
.pricing-coloum{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Call To Action */

#cta{
  background-color: #ff4c68;
  color: #fff;

}
.cta-heading{
  font-family: Montserrat Black;
  font-size: 3rem;
  line-height: 1.5;
  margin:auto auto ;
  width: 60%;
  padding: 80px 0px 40px;
}
.btn-cta{
  margin: 1rem 1rem;
  font-family: Montserrat;
  font-weight: bold;
  margin-bottom: 80px;
}

/* Footer */
#footer{

}
.footer-awesome{
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0 10px;
}
.footer-text{
  color: #8f8f8f;
}


@media (max-width: 1250px) {
  #title{

  }
  .iphone-image{
    position: static;
    transform: rotate(0);
  }
}
